@CHARSET "UTF-8";

body {
	padding-top: 60px;
}

/* Loading ajax styles */
.loading {
    position: relative;
    pointer-events: none;
}

.loading .loading-overlay {
    position: absolute;
	z-index: 10000;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background: rgba( 255, 255, 255, .8 );
	text-align: center;
}

.loading .loading-text {
	font-size: 1.5rem;
	line-height: 2.3125rem;
	text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
	position: relative;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}

.loading .loading-text:after {
	content: "...";
}

.loading .loading-spinner {
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: -3.9375rem auto 0;
	color: #1a1d1d;
	text-align: center;
}

.loading .loading-icon {
	position: relative;
	width: 50px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	vertical-align: middle;
	background: url('../img/spinner.gif')
                50% 50%
                no-repeat;
}

/* nav & side bar */
.navbar-brand  {
    padding-left: 55px;
    background: url('../img/zf2-logo.png')
                20px center
                no-repeat;
}

.navbar-header .navbar-text {
    font-weight: bold;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        padding-top: 60px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        padding-top: 60px;
    }
}

#admin-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar .arrow {
    float: right;
}

.nav-sidebar .fa.arrow:before {
    content: "\f104";
}

.nav-sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-sidebar:first-child {
    border-top: 1px solid #e7e7e7;
}

.nav-sidebar > li {
    border-bottom: 1px solid #e7e7e7;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a ,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    background-color: #eee;
}

/* Main Content */

#main-content {
    padding: 20px;
}

@media (min-width: 768px) {
    #main-content {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.sortable-table th:hover {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.panel-widget {
    max-height: 200px;
    overflow: auto;
}

.modal-body {
    overflow-y: auto;
}

.panel-body, .panel-table {
    max-height: 300px;
    overflow: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
